.uw-logos-wrapper .uw-logos-site-footer {
  padding:1rem;
}

.uw-logos-logos table tr th.one-half {
  width: 50%;
  padding-left: 1rem;
}

.uw-logos-logos table tr th.one-quarter {
  width: 25%;
  vertical-align: middle;
}

.uw-logos-logos table td {
  vertical-align: middle;
}

.uw-logos-logos table img.uw-logos-black-bg {
  background-color: black;
}

.uw-logos-logos td.site-footer img {
  background-color: #757575;
}

.field-name-field-uw-logos-sf-logo .image-widget-data .text-format-wrapper {
  display: none;
}

.field-name-field-uw-logos-logo .image-widget-data .text-format-wrapper {
  display: none;
}

.field-name-field-uw-logos-sf-logo .image-preview {
  background-color: #757575;
}

.uw-logos-site-footer {
  background-color: #757575;
}

body.org_default .view-uw-view-logos .view-content h2:first-of-type {
  margin: 1.5rem 0 0 0;
  background-color: #eee!important;
  padding: 1rem;
}
body.org_default .view-uw-view-logos .view-content h2 {
  margin: 6rem 0 0 0;
  background-color: #eee!important;
  padding: 1rem;
}

table.uw-logos-logos {
  margin: 0;
}

.view .view-content .uw-logos-details a {
  text-align: center;
  background-color: #757575;
  cursor: pointer;
  font-family: "BureauGrotCond Book",impact,"avenir next condensed heavy","Droid Sans",sans-serif;
  letter-spacing: .055rem;
  text-transform: uppercase;
  padding: 0.5rem;
  max-width: 70%;
  display: inline-block;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  margin: 0 auto;
  color: #fff;
  font-size: 0.8rem;
  width: 100%;
  font-weight:inherit!important;
  float:none;
  max-width:10rem;
}

.view .view-content .uw-logos-details a:hover {
  background-color: #eee;
  color: #4e4e4e;
}
body.org_default .view-uw-view-logos .view-content h2 + .uw-logos-title-faculty-details{
  padding-top:1rem;
  margin-bottom:2.5rem;
}
.uw-logos-title-faculty-details {
  padding-top:2.5rem;
  margin-bottom:2rem;

}

.uw-logos-title-faculty-details .uw-logos-title-faculty{
  margin-bottom:1rem;
}
.uw-logos-title-faculty-details .uw-logos-title-faculty,
.uw-logos-title-faculty-details .uw-logos-details {
  width:100%
}
.uw-logos-logo .col1,
.uw-logos-logo .col2,
.uw-logos-logo .col3 {
  border-top: 0;
  border-bottom: 0;

}
@media screen and (min-width:48.0625rem){
  .uw-logos-logo .col1{
    width: 50%;
  }
  .uw-logos-logo .col2{
    width: 25%;
  }
  .uw-logos-logo .col3{
    width: 25%;
  }
  body.org_default .view-uw-view-logos .view-content h2 + .uw-logos-title-faculty-details{
    padding-top:1rem;
    margin-bottom:4rem;
  }
  .uw-logos-title-faculty-details {
    padding-top:5rem;
    margin-bottom:4rem;

  }
  .view .view-content .uw-logos-details a{
    float:right;
    /*max-width:inherit;*/
  }
  .uw-logos-title-faculty-details .uw-logos-details {
    float: right;
    width: 30%;
  }
  .uw-logos-title-faculty-details .uw-logos-title-faculty {
    clear: both;
    float: left;
    width: 70%;
    margin-bottom:0;
  }
}
.view .view-content .uw-logos-title-faculty h3 {
  margin: 0;

}

.uw-logos-title-faculty p {
  margin: 0;

}

.uw-logos-logos.tablesaw-stack tbody tr {
  border-bottom: 0;
}

.uw-logos-logo table {
  border: 0;
}

td.uw-logos-logo {
  padding: 0;
  margin: 0;
}

.uw-logos-logo table.uw-logos-logo-header td {
  border: 0;
}

.uw-logos-logo table.uw-logos-logo-header th {
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
  border-right: 1px solid #DFDFDF;
}

.uw-logos-logo table {
  padding: 0;
  margin: 0;
}



.uw-logos-logos .uw-logos-logo .black img {
  background-color: black;
}

.uw-logos-logos .uw-logos-logo .site-footer img {
  background-color: #757575;
}

.view-uw-view-logos .views-exposed-form,
.block-uw-ct-logos form {

  border: 1px solid #eee;
  padding: 0.5rem;
}

.view-uw-view-logos .views-exposed-widgets,
.block-uw-ct-logos form > div {
  display: grid;
  grid-gap: 1px;
  grid-row-gap: .4rem;
  color: #444;
  grid-auto-flow: row;
  grid-template-columns: 50% 50%;
}
.block-uw-ct-logos form > div > div label,
.block-uw-ct-logos form > div > div select {
  width: 100%;
  margin: 0;
}

.view-uw-view-logos select {
  width: 100%;
}

.view-uw-view-logos .views-widget-filter-tid,
.block-uw-ct-logos .form-item-logos-type {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.view-uw-view-logos .views-widget-filter-tid_1,
.block-uw-ct-logos. .form-item-logos-faculty {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.view-uw-view-logos .views-exposed-widget.views-submit-button,
.block-uw-ct-logos #edit-submit-button {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin: 0;
}

.view-uw-view-logos .views-exposed-widget.views-reset-button,
.block-uw-ct-logos #edit-reset-button {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin: 0;
}

.view-uw-view-logos .views-submit-button input,
.view-uw-view-logos .views-reset-button input,
.block-uw-ct-logos form input {
  width: 100%;
  max-width: 100%;
}

.uw-logos-logos td.site-footer::after,
.uw-logos-logo td.site-footer::after {
  content: "* used as site footer on WCMS sites";
  font-family: Typ1451-Medium,verdana,sans-serif;
  font-size: .8rem;
}
.view-uw-view-logos .item-list{
  margin-top:1rem!Important;
}
.pager li {height:2rem!Important;}
.pager li a{ font-family: Typ1451-Medium,verdana,sans-serif!Important;}

.uw-tax-logos-types .image-widget-data .text-format-wrapper {
  display: none;
}

.uw-tax-logos-types .image-widget-data div[class*="focal-point"] {
  display: none;
}

.view-uw-view-logos .view-empty {
  font-family: "BureauGrot Book",impact,"avenir next condensed heavy","Droid Sans",sans-serif;
  font-weight: 400;
  text-align: center;
  padding-top: 1rem;
}
